.DS_Store
.env
DEBUG=on
SECRET_KEY = 'h5&d6r-8kxsbk(-y$uy)ao)norv(5-&y0%+3v=6h44qe^h8jo1'
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Django stuff:
*.log
local_settings.py
db.sqlite3

tmp
.vscode/
